<!DOCTYPE html>
<html>

<head>
    <title>Team Info</title>
</head>

<body>
    <button id="refreshButton" onclick="location.reload()" style="font-size: 50px; padding: 20px 50px;">Refresh</button>
    <div id="teamInfo">
        <% teamInfo.forEach(competitor => { %>
            <div style="<%= competitor.highlight ? 'color: red;' : '' %>">
                <h2><%= competitor.name %></h2>
                <p>Team: <%= competitor.team %></p>
                <p>Mat: <%= competitor.mat %></p>
                <p>Time: <%= competitor.time %></p>
                <p>Date: <%= competitor.date %></p> <!-- Added date -->
            </div>
        <% }); %>
    </div>
</body>

</html>